---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>页面未找到<br></h1>
            <img src="/404.png" alt="你成功用尺规作图解出以下问题了吗？\n1.三等分角\n2.立方倍积\n3.画圆为方">
			<p>什么？你觉得应该有这个页面？在<a href="https://github.com/huangyiming0608/huangyiming0608.github.io">Github</a>上Fork，然后修改，最后不要忘记提交Pull Request！</p>
			<p>还有，Github Pages是有延迟的哦！</p>
		</main>
		<Footer />
	</body>
</html>
