---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title="坏了，页面要被波尔布特枪毙了！" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>页面未找到!</h1><h2>说不定因为解决古希腊尺规三大难题而被波尔布特枪毙了！</h2>
            <img src="/404.png" alt="你成功用尺规作图解出以下问题了吗？\n1.三等分角\n2.立方倍积\n3.画圆为方">
			<p>什么？你觉得你可以去柬埔寨营救这个页面？在<a href="https://github.com/huangyiming0608/huangyiming0608.github.io">Github</a>上Fork，然后修改，最后不要忘记提交Pull Request！如果不会Coding，还可以用<a href="https://github.com/huangyiming0608/huangyiming0608.github.io/issues">Issues</a>！</p>
			<p>还有，Cloudflare Pages是有延迟的哦！</p>
		</main>
		<Footer />
	</body>
</html>
