---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FooterSearch from '../components/FooterSearch.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import SearchBar from 'astro-pagefind/components/Search';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1>全站搜索我的Blog：</h1>
            {SearchBar ? (
				<SearchBar id='search' className='pagefind-ui' uiOptions={{showImages: false}}/>
			  ) : (
				<p>搜索功能暂时不可用，请稍后再试。</p>
			  )}
		</main>
		<FooterSearch />
	</body>
</html>